---
import Link from '@components/ui/link.astro'
---

<section class="bg-trancperent overflow-hidden pb-8 pt-10 sm:pt-16 lg:pt-24">
  <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
    <div
      class="animate-shake animate-infinite animate-duration-[3000ms] animate-delay-[4ms] animate-ease-linear absolute -z-50"
    >
      <svg
        class="absolute -z-50 animate-blob"
        viewBox="203.913 171.857 19.01 16.289"
        width="219.01"
        height="216.289"
      >
        <g
          style="display:inline"
          id="g1099"
          transform="matrix(0.21272, -0.028788, 0.028788, 0.21272, 190.975973, 163.88975)"
        >
          <path
            style="fill:#ff9c9c;fill-opacity:1;stroke:none;stroke-width:1.76877713;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1"
            d="m 120.57426,78.188005 -14.7407,11.231377 v 31.821808 h 14.7407 z"
            id="path966"></path>
          <path
            style="fill:#82cfff;fill-opacity:1;stroke:none;stroke-width:1.76877713;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1"
            d="M 103.25025,91.387221 91.848363,100.07452 88.509549,97.896897 V 121.24119 H 103.25025 Z"
            id="path964"></path>
          <path
            style="fill:#fffeb5;fill-opacity:1;stroke:none;stroke-width:1.76877713;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1"
            d="m 78.807816,91.570154 -7.622273,5.407924 V 121.24119 H 85.926761 V 96.212744 Z"
            id="path962"></path>
          <path
            style="fill:#6494b3;fill-opacity:1;stroke:none;stroke-width:1.76877713;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1"
            d="M 68.602755,98.810529 53.861537,109.26879 v 11.9724 h 14.741218 z"
            id="rect1028"></path>
          <path
            id="path1042"
            d="m 129.55281,58.765419 c -4.54355,0.0291 -16.05003,3.351742 -16.54886,5.196602 -0.23111,0.85471 1.42657,3.176058 3.65301,5.64978 L 91.738068,88.597719 78.75023,80.126925 54.357404,97.433347 a 2.460871,2.460871 0 1 0 2.847888,4.013703 L 78.86702,86.077986 91.958728,94.616989 120.13324,73.150074 c 2.66401,2.489544 5.26703,4.433067 6.1867,4.18891 2.18914,-0.581264 6.52477,-16.615357 4.92683,-18.220611 -0.24968,-0.250825 -0.85256,-0.358325 -1.69396,-0.352954 z"
            style="color:#000000;font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:medium;line-height:normal;font-family:sans-serif;font-variant-ligatures:normal;font-variant-position:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-alternates:normal;font-feature-settings:normal;text-indent:0;text-align:start;text-decoration:none;text-decoration-line:none;text-decoration-style:solid;text-decoration-color:#000000;letter-spacing:normal;word-spacing:normal;text-transform:none;writing-mode:lr-tb;direction:ltr;text-orientation:mixed;dominant-baseline:auto;baseline-shift:baseline;text-anchor:start;white-space:normal;shape-padding:0;clip-rule:nonzero;display:inline;overflow:visible;visibility:visible;opacity:1;isolation:auto;mix-blend-mode:normal;color-interpolation:sRGB;color-interpolation-filters:linearRGB;solid-color:#000000;solid-opacity:1;vector-effect:none;fill:#82cfff;fill-opacity:1;fill-rule:nonzero;stroke:none;stroke-width:4.92124987;stroke-linecap:round;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;color-rendering:auto;image-rendering:auto;shape-rendering:auto;text-rendering:auto;enable-background:accumulate"
          ></path>
          <path
            style="fill:none;fill-opacity:1;stroke:#721f1f;stroke-width:1.32291663;stroke-linecap:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1"
            d="m 122.75766,74.980473 -14.7407,11.231377 v 31.82182 h 14.7407 z m -17.32402,13.199216 -11.401861,8.687299 -3.338814,-2.177623 v 23.344305 h 14.740675 z m -24.442408,0.182933 -7.622273,5.407924 V 118.03367 H 88.110177 V 93.005212 Z M 70.786171,95.602997 56.044953,106.06127 v 11.9724 h 14.741218 z"
            id="path1084"></path>
          <path
            style="color:#000000;font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:medium;line-height:normal;font-family:sans-serif;font-variant-ligatures:normal;font-variant-position:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-alternates:normal;font-feature-settings:normal;text-indent:0;text-align:start;text-decoration:none;text-decoration-line:none;text-decoration-style:solid;text-decoration-color:#000000;letter-spacing:normal;word-spacing:normal;text-transform:none;writing-mode:lr-tb;direction:ltr;text-orientation:mixed;dominant-baseline:auto;baseline-shift:baseline;text-anchor:start;white-space:normal;shape-padding:0;clip-rule:nonzero;display:inline;overflow:visible;visibility:visible;opacity:1;isolation:auto;mix-blend-mode:normal;color-interpolation:sRGB;color-interpolation-filters:linearRGB;solid-color:#000000;solid-opacity:1;vector-effect:none;fill:none;fill-opacity:1;fill-rule:nonzero;stroke:#721f1f;stroke-width:1.32291663;stroke-linecap:round;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;color-rendering:auto;image-rendering:auto;shape-rendering:auto;text-rendering:auto;enable-background:accumulate"
            d="m 131.73622,55.55789 c -4.54356,0.0291 -16.05003,3.351742 -16.54886,5.196602 -0.23111,0.85471 1.42657,3.176058 3.653,5.64978 L 93.921484,85.39019 80.933647,76.919396 56.540821,94.225818 a 2.460871,2.460871 0 1 0 2.847887,4.013702 L 81.050437,82.870457 94.142144,91.40946 122.31664,69.942545 c 2.66401,2.489544 5.26703,4.433067 6.1867,4.18891 2.18915,-0.581264 6.52477,-16.615357 4.92683,-18.220611 -0.24968,-0.250825 -0.85255,-0.358325 -1.69395,-0.352954 z"
            id="path1086"></path>
        </g>
      </svg>
    </div>
    <div class="mx-auto max-w-2xl text-center">
      <h2 class="heading-2 leading-tight sm:text-4xl lg:text-5xl">
        Connect with all apps
      </h2>
      <p class="body mx-auto mt-4 max-w-xl leading-relaxed">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis.
      </p>
      <div class="m-5 mx-auto max-w-7xl items-center px-4 py-5 sm:px-6 lg:px-8">
        <Link class="m-3" href="#" style="inverted" size="lg">Click Me!</Link>
      </div>
    </div>
  </div>

  <img
    class="animate-shake animate-infinite animate-duration-[7500ms] animate-ease-linear animate-normal animate-fill-both mx-auto mt-12 w-full min-w-full max-w-7xl scale-150 lg:mt-0 lg:min-w-0 lg:scale-100"
    src="https://cdn.rareblocks.xyz/collection/celebration/images/integration/1/services-icons.png"
    alt=""
  />
</section>
