---

---

<section class="bg-trancperent py-10 sm:py-16 lg:py-24">
  <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
    <div class="mx-auto max-w-2xl text-center">
      <div
        class="animate-wiggle-more animate-infinite animate-duration-[2500ms] animate-ease-in-out animate-reverse animate-fill-both absolute -z-50"
      >
        <svg
          class="body-large absolute left-0 top-0 -z-50 animate-blob"
          viewBox="158.832 256.287 23.254 24.978"
          width="323.254"
          height="324.978"
        >
          <g
            id="g1017"
            transform="matrix(0.366836, 0, 0, 0.366836, 96.323532, 234.431818)"
          >
            <g
              style="stroke:#ffffff;stroke-opacity:1;stroke-width:3.03130764;stroke-miterlimit:4;stroke-dasharray:none"
              transform="matrix(0.4002097,-0.17404797,0.17404797,0.4002097,84.764771,51.963653)"
              id="g1030"
            >
              <rect
                ry="5.6017308"
                rx="5.6017308"
                y="185.20049"
                x="114.90309"
                height="108.67358"
                width="80.104752"
                id="rect1082"
                style="fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:3.0313077;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1"
                transform="rotate(-14.049486)"></rect>
              <rect
                style="fill:none;fill-opacity:1;stroke:#82cfff;stroke-width:3.03130764;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1"
                id="rect1008"
                width="80.104752"
                height="108.67358"
                x="168.41785"
                y="140.41811"
                rx="5.6017308"
                ry="5.6017308"></rect>
              <rect
                style="fill:#6494b3;fill-opacity:1;stroke:none;stroke-width:3.03130764;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1"
                id="rect1010"
                width="60.246357"
                height="5.3453979"
                x="178.34705"
                y="154.81262"></rect>
              <rect
                style="fill:#6494b3;fill-opacity:1;stroke:none;stroke-width:3.03130764;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1"
                id="rect1014"
                width="60.246357"
                height="5.3453979"
                x="178.34705"
                y="185.94952"></rect>
              <rect
                y="170.38107"
                x="178.34705"
                height="5.3453979"
                width="42.873833"
                id="rect1016"
                style="fill:#6494b3;fill-opacity:1;stroke:none;stroke-width:3.03130764;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1"
              ></rect>
              <rect
                style="fill:#6494b3;fill-opacity:1;stroke:none;stroke-width:3.03130764;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1"
                id="rect1018"
                width="42.873833"
                height="5.3453979"
                x="178.34705"
                y="201.51796"></rect>
              <rect
                y="217.08641"
                x="178.34705"
                height="5.3453979"
                width="60.246357"
                id="rect1020"
                style="fill:#6494b3;fill-opacity:1;stroke:none;stroke-width:3.03130764;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1"
              ></rect>
            </g>
            <g
              transform="matrix(0.20996533,-0.03139389,0.03139389,0.20996533,187.1638,59.827312)"
              id="g1098"
            >
              <g
                id="g1074"
                style="fill:none;fill-opacity:1;stroke:#de8787;stroke-opacity:1"
                transform="rotate(-1.2696291,46.361372,549.71256)"></g>
              <g id="g1052" transform="translate(-7.4083337)">
                <path
                  id="rect984"
                  d="m 108.9184,101.12494 v 86.69132 c 0,0 0.23904,1.88188 0,2.7757 -2.02886,7.58636 -9.463135,20.41392 -11.759855,20.41392 -2.296721,0 -9.731001,-12.82756 -11.759861,-20.41392 -0.23904,-0.89382 0,-2.7757 0,-2.7757 v -86.69132 z"
                  style="fill:#ffeded;fill-opacity:1;stroke:none;stroke-width:1.58700001;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1"
                ></path>
                <path
                  id="path1034"
                  d="M 85.398684,101.12494 V 90.730597 c 0,-1.628741 1.31122,-2.939966 2.93997,-2.939966 h 17.639776 c 1.62874,0 2.93997,1.311225 2.93997,2.939966 v 10.394343 z"
                  style="fill:#de8787;fill-opacity:1;stroke:none;stroke-width:1.58700001;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1"
                ></path>
                <path
                  style="fill:#fffeb5;fill-opacity:1;stroke:none;stroke-width:1.58700001;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1"
                  d="m 85.398684,100.96512 h 23.519706 v 87.05155 c 0,0 -3.25596,0.11822 -3.9983,-0.32071 -1.54039,-0.91078 -0.82201,-4.40992 -2.58719,-4.70397 -2.2993,-0.38303 -2.843375,4.70397 -5.174365,4.70397 -2.330991,0 -2.875061,-5.087 -5.174371,-4.70397 -1.76518,0.29405 -1.0468,3.79319 -2.58719,4.70397 -0.74234,0.43893 -3.99829,0.32071 -3.99829,0.32071 z"
                  id="path1036"></path>
                <path
                  style="fill:#6494b3;fill-opacity:1;stroke:none;stroke-width:1.58700001;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1"
                  d="m 90.808214,202.98375 c 2.51582,4.46635 5.142871,8.02225 6.350521,8.02225 1.20765,0 3.834185,-3.5559 6.349995,-8.02225 z"
                  id="path1038"></path>
                <path
                  style="fill:none;fill-opacity:1;stroke:none;stroke-width:1.58700001;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1"
                  d="m 92.040184,100.96517 v 82.02135 c 2.2516,-0.29057 2.8069,4.70926 5.118551,4.70926 2.31152,0 2.866755,-4.99922 5.118035,-4.70926 v -82.02135 z"
                  id="path1040"></path>
                <path
                  style="fill:none;fill-opacity:1;stroke:#721f1f;stroke-width:1.58700001;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1"
                  d="m 104.35669,97.922624 v 86.691306 c 0,0 0.23904,1.88188 0,2.7757 -2.02886,7.58636 -9.463128,20.41392 -11.759844,20.41392 -2.29673,0 -9.731007,-12.82756 -11.759867,-20.41392 -0.23904,-0.89382 0,-2.7757 0,-2.7757 V 97.922624 Z"
                  id="path1098"></path>
                <path
                  style="fill:none;fill-opacity:1;stroke:#721f1f;stroke-width:1.58700001;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1"
                  d="M 80.836979,97.922624 V 87.528277 c 0,-1.628741 1.31122,-2.939966 2.93997,-2.939966 h 17.639771 c 1.62874,0 2.93997,1.311225 2.93997,2.939966 v 10.394347 z"
                  id="path1100"></path>
                <path
                  id="path1103"
                  d="m 80.836979,97.762804 h 23.519701 v 87.051536 c 0,0 -3.25596,0.11822 -3.9983,-0.32071 -1.540386,-0.91078 -0.822006,-4.40992 -2.587186,-4.70397 -2.299296,-0.38303 -2.843372,4.70397 -5.174358,4.70397 -2.331,0 -2.875064,-5.087 -5.174375,-4.70397 -1.76518,0.29405 -1.0468,3.79319 -2.587192,4.70397 -0.74234,0.43893 -3.99829,0.32071 -3.99829,0.32071 z"
                  style="fill:none;fill-opacity:1;stroke:#721f1f;stroke-width:1.58700001;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1"
                ></path>
                <path
                  id="path1105"
                  d="m 86.246511,199.78142 c 2.515816,4.46635 5.142875,8.02225 6.350525,8.02225 1.207646,0 3.834182,-3.5559 6.349988,-8.02225 z"
                  style="fill:none;fill-opacity:1;stroke:#721f1f;stroke-width:1.58700001;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1"
                ></path>
                <path
                  id="path1107"
                  d="m 87.478481,97.762854 v 82.021336 c 2.251601,-0.29057 2.806895,4.70926 5.118555,4.70926 2.311516,0 2.866752,-4.99922 5.118028,-4.70926 V 97.762854 Z"
                  style="fill:none;fill-opacity:1;stroke:#721f1f;stroke-width:1.58700001;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1"
                ></path>
              </g>
            </g>
          </g>
        </svg>
      </div>
      <h2
        class="heading-2 text-3xl font-bold leading-tight sm:text-4xl lg:text-5xl"
      >
        Contact us
      </h2>
    </div>

    <div class="mx-auto mt-12 max-w-5xl sm:mt-16">
      <div
        class="grid grid-cols-1 gap-6 px-8 text-center md:grid-cols-3 md:px-0"
      >
        <div class="bg-trancperent overflow-hidden rounded-xl">
          <div class="p-6">
            <svg
              class="body mx-auto h-10 w-10 flex-shrink-0"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="1"
                d="M3 5a2 2 0 012-2h3.28a1 1 0 01.948.684l1.498 4.493a1 1 0 01-.502 1.21l-2.257 1.13a11.042 11.042 0 005.516 5.516l1.13-2.257a1 1 0 011.21-.502l4.493 1.498a1 1 0 01.684.949V19a2 2 0 01-2 2h-1C9.716 21 3 14.284 3 6V5z"
              ></path>
            </svg>
            <p class="body mt-6 text-lg font-medium">+1-316-555-0116</p>
            <p class="body mt-1 text-lg font-medium">+1-446-526-0117</p>
          </div>
        </div>

        <div class="bg-trancperent overflow-hidden rounded-xl">
          <div class="p-6">
            <svg
              class="body mx-auto h-10 w-10 flex-shrink-0"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="1"
                d="M3 8l7.89 5.26a2 2 0 002.22 0L21 8M5 19h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z"
              ></path>
            </svg>
            <p class="body mt-6 text-lg font-medium">contact@example.com</p>
            <p class="body mt-1 text-lg font-medium">hr@example.com</p>
          </div>
        </div>

        <div class="bg-trancperent overflow-hidden rounded-xl">
          <div class="p-6">
            <svg
              class="body mx-auto h-10 w-10 flex-shrink-0"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="1"
                d="M17.657 16.657L13.414 20.9a1.998 1.998 0 01-2.827 0l-4.244-4.243a8 8 0 1111.314 0z"
              ></path>
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="1"
                d="M15 11a3 3 0 11-6 0 3 3 0 016 0z"></path>
            </svg>

            <p class="body mt-6 text-lg font-medium leading-relaxed">
              8502 Preston Rd. Ingle, Maine 98380, USA
            </p>
          </div>
        </div>
      </div>

      <div class="bg-trancperent mt-6 overflow-hidden rounded-xl">
        <div class="px-6 py-12 sm:p-12">
          <h3 class="heading-3 text-center text-3xl font-semibold">
            Send us a message
          </h3>
          <div
            class="animate-shake animate-infinite animate-duration-[1500ms] animate-ease-in-out animate-reverse animate-fill-both absolute -z-50"
          >
            <svg
              class="body-large animate-shake animate-infinite animate-duration-[1500ms] animate-ease-in-out animate-reverse animate-fill-both absolute -z-50"
              viewBox="171.604 261.724 3.635 10.063"
              width="53.635"
              height="51.063"
            >
              <g
                transform="matrix(0.077023, -0.011516, 0.011516, 0.077023, 164.981961, 256.378632)"
                id="g1098"
              >
                <g
                  id="g1074"
                  style="fill:none;fill-opacity:1;stroke:#de8787;stroke-opacity:1"
                  transform="rotate(-1.2696291,46.361372,549.71256)"></g>
                <g id="g1052" transform="translate(-7.4083337)">
                  <path
                    id="rect984"
                    d="m 108.9184,101.12494 v 86.69132 c 0,0 0.23904,1.88188 0,2.7757 -2.02886,7.58636 -9.463135,20.41392 -11.759855,20.41392 -2.296721,0 -9.731001,-12.82756 -11.759861,-20.41392 -0.23904,-0.89382 0,-2.7757 0,-2.7757 v -86.69132 z"
                    style="fill:#ffeded;fill-opacity:1;stroke:none;stroke-width:1.58700001;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1"
                  ></path>
                  <path
                    id="path1034"
                    d="M 85.398684,101.12494 V 90.730597 c 0,-1.628741 1.31122,-2.939966 2.93997,-2.939966 h 17.639776 c 1.62874,0 2.93997,1.311225 2.93997,2.939966 v 10.394343 z"
                    style="fill:#de8787;fill-opacity:1;stroke:none;stroke-width:1.58700001;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1"
                  ></path>
                  <path
                    style="fill:#fffeb5;fill-opacity:1;stroke:none;stroke-width:1.58700001;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1"
                    d="m 85.398684,100.96512 h 23.519706 v 87.05155 c 0,0 -3.25596,0.11822 -3.9983,-0.32071 -1.54039,-0.91078 -0.82201,-4.40992 -2.58719,-4.70397 -2.2993,-0.38303 -2.843375,4.70397 -5.174365,4.70397 -2.330991,0 -2.875061,-5.087 -5.174371,-4.70397 -1.76518,0.29405 -1.0468,3.79319 -2.58719,4.70397 -0.74234,0.43893 -3.99829,0.32071 -3.99829,0.32071 z"
                    id="path1036"></path>
                  <path
                    style="fill:#6494b3;fill-opacity:1;stroke:none;stroke-width:1.58700001;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1"
                    d="m 90.808214,202.98375 c 2.51582,4.46635 5.142871,8.02225 6.350521,8.02225 1.20765,0 3.834185,-3.5559 6.349995,-8.02225 z"
                    id="path1038"></path>
                  <path
                    style="fill:none;fill-opacity:1;stroke:none;stroke-width:1.58700001;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1"
                    d="m 92.040184,100.96517 v 82.02135 c 2.2516,-0.29057 2.8069,4.70926 5.118551,4.70926 2.31152,0 2.866755,-4.99922 5.118035,-4.70926 v -82.02135 z"
                    id="path1040"></path>
                  <path
                    style="fill:none;fill-opacity:1;stroke:#721f1f;stroke-width:1.58700001;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1"
                    d="m 104.35669,97.922624 v 86.691306 c 0,0 0.23904,1.88188 0,2.7757 -2.02886,7.58636 -9.463128,20.41392 -11.759844,20.41392 -2.29673,0 -9.731007,-12.82756 -11.759867,-20.41392 -0.23904,-0.89382 0,-2.7757 0,-2.7757 V 97.922624 Z"
                    id="path1098"></path>
                  <path
                    style="fill:none;fill-opacity:1;stroke:#721f1f;stroke-width:1.58700001;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1"
                    d="M 80.836979,97.922624 V 87.528277 c 0,-1.628741 1.31122,-2.939966 2.93997,-2.939966 h 17.639771 c 1.62874,0 2.93997,1.311225 2.93997,2.939966 v 10.394347 z"
                    id="path1100"></path>
                  <path
                    id="path1103"
                    d="m 80.836979,97.762804 h 23.519701 v 87.051536 c 0,0 -3.25596,0.11822 -3.9983,-0.32071 -1.540386,-0.91078 -0.822006,-4.40992 -2.587186,-4.70397 -2.299296,-0.38303 -2.843372,4.70397 -5.174358,4.70397 -2.331,0 -2.875064,-5.087 -5.174375,-4.70397 -1.76518,0.29405 -1.0468,3.79319 -2.587192,4.70397 -0.74234,0.43893 -3.99829,0.32071 -3.99829,0.32071 z"
                    style="fill:none;fill-opacity:1;stroke:#721f1f;stroke-width:1.58700001;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1"
                  ></path>
                  <path
                    id="path1105"
                    d="m 86.246511,199.78142 c 2.515816,4.46635 5.142875,8.02225 6.350525,8.02225 1.207646,0 3.834182,-3.5559 6.349988,-8.02225 z"
                    style="fill:none;fill-opacity:1;stroke:#721f1f;stroke-width:1.58700001;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1"
                  ></path>
                  <path
                    id="path1107"
                    d="m 87.478481,97.762854 v 82.021336 c 2.251601,-0.29057 2.806895,4.70926 5.118555,4.70926 2.311516,0 2.866752,-4.99922 5.118028,-4.70926 V 97.762854 Z"
                    style="fill:none;fill-opacity:1;stroke:#721f1f;stroke-width:1.58700001;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1"
                  ></path>
                </g>
              </g>
            </svg>
          </div>

          <form action="#" method="POST" class="mt-14">
            <div class="grid grid-cols-1 gap-x-5 gap-y-4 sm:grid-cols-2">
              <div>
                <label for="" class="body text-base font-medium">
                  Your name
                </label>
                <div class="relative mt-2.5">
                  <input
                    type="text"
                    name=""
                    id=""
                    placeholder="Enter your full name"
                    class="block w-full rounded-md border border-gray-200 bg-white px-4 py-4 text-black placeholder-gray-500 caret-blue-600 transition-all duration-200 focus:border-blue-600 focus:outline-none"
                  />
                </div>
              </div>

              <div>
                <label for="" class="body text-base font-medium">
                  Email address
                </label>
                <div class="relative mt-2.5">
                  <input
                    type="email"
                    name=""
                    id=""
                    placeholder="Enter your full name"
                    class="block w-full rounded-md border border-gray-200 bg-white px-4 py-4 text-black placeholder-gray-500 caret-blue-600 transition-all duration-200 focus:border-blue-600 focus:outline-none"
                  />
                </div>
              </div>

              <div>
                <label for="" class="body text-base font-medium">
                  Phone number
                </label>
                <div class="relative mt-2.5">
                  <input
                    type="tel"
                    name=""
                    id=""
                    placeholder="Enter your full name"
                    class="block w-full rounded-md border border-gray-200 bg-white px-4 py-4 text-black placeholder-gray-500 caret-blue-600 transition-all duration-200 focus:border-blue-600 focus:outline-none"
                  />
                </div>
              </div>

              <div>
                <label for="" class="body text-base font-medium">
                  Company name
                </label>
                <div class="relative mt-2.5">
                  <input
                    type="text"
                    name=""
                    id=""
                    placeholder="Enter your full name"
                    class="block w-full rounded-md border border-gray-200 bg-white px-4 py-4 text-black placeholder-gray-500 caret-blue-600 transition-all duration-200 focus:border-blue-600 focus:outline-none"
                  />
                </div>
              </div>

              <div class="sm:col-span-2">
                <label for="" class="body text-base font-medium">
                  Message
                </label>
                <div class="relative mt-2.5">
                  <textarea
                    name=""
                    id=""
                    placeholder=""
                    class="block w-full resize-y rounded-md border border-gray-200 bg-white px-4 py-4 text-black placeholder-gray-500 caret-blue-600 transition-all duration-200 focus:border-blue-600 focus:outline-none"
                    rows="4"></textarea>
                </div>
              </div>

              <div class="sm:col-span-2">
                <div class="mx-auto max-w-2xl text-center">
                  <button
                    type="submit"
                    class="body-large bg-trancperent border-blues-600 dark:border-yellows-600 mt-3 inline-flex items-center justify-center rounded border-2 px-4 py-2 font-bold transition transition-all duration-200 hover:scale-110 hover:scale-110 hover:drop-shadow-2xl hover:drop-shadow-2xl focus:outline-none focus:outline-none focus:ring focus:ring"
                    >Send</button
                  >
                </div>
                <div
                  class="animate-infinite animate-duration-[1500ms] animate-ease-in-out animate-reverse animate-fill-both absolute -z-50 animate-bounce"
                >
                  <svg
                    class="body-large animate-infinite animate-duration-[1500ms] animate-ease-in-out animate-reverse animate-fill-both absolute right-0 top-0 -z-50 animate-bounce"
                    viewBox="261.62 272.554 14.026 12.358"
                    width="114.026"
                    height="112.358"
                  >
                    <g
                      style="display:inline"
                      id="g1331"
                      transform="matrix(0.161739, 0, 0, 0.161739, 240.37387, 263.399626)"
                    >
                      <rect
                        ry="4.230423"
                        rx="4.230423"
                        y="92.644882"
                        x="135.26311"
                        height="40.357697"
                        width="23.252449"
                        id="rect1293"
                        style="opacity:1;vector-effect:none;fill:#82cfff;fill-opacity:1;stroke:none;stroke-width:2.21237159;stroke-linecap:round;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1"
                      ></rect>
                      <rect
                        style="opacity:1;vector-effect:none;fill:none;fill-opacity:1;stroke:#6494b3;stroke-width:2.21237159;stroke-linecap:round;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1"
                        id="rect1323"
                        width="23.252449"
                        height="40.357697"
                        x="131.36131"
                        y="87.487068"
                        rx="4.230423"
                        ry="4.230423"></rect>
                      <path
                        style="opacity:1;vector-effect:none;fill:#82cfff;fill-opacity:1;stroke:none;stroke-width:1.58749998;stroke-linecap:round;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1"
                        d="m 182.75873,59.311401 c -2.90618,0 -4.18734,2.339499 -4.18734,5.245682 l 1.47019,10.2557 -0.39119,3.302631 -12.00753,18.964228 h -6.61458 v 28.584818 c 4.49213,0.42185 10.65089,3.49351 14.89935,3.52433 h 27.47274 c 2.90384,0 5.24154,-2.47084 5.24154,-5.53971 0,-2.05074 -1.04687,-3.82963 -2.60605,-4.78729 h 3.31298 c 2.90384,0 5.24103,-2.47087 5.24103,-5.53974 0,-2.05071 -1.04636,-3.83009 -2.60553,-4.78782 h 0.85731 c 2.90384,0 5.24206,-2.47031 5.24206,-5.53919 0,-2.82712 -1.98485,-5.144854 -4.56768,-5.492711 1.60025,-0.946194 2.67891,-2.751155 2.67891,-4.834295 0,-3.06888 -2.3377,-5.53972 -5.24155,-5.53974 h -19.94296 c 0,0 2.27336,-8.74374 1.5875,-13.082908 -2.40958,-6.958912 -2.31019,-14.733985 -9.8392,-14.733985 z"
                        id="path1325"></path>
                      <path
                        id="rect1304"
                        d="m 178.97383,56.59713 c -2.90618,0 -4.18734,2.339499 -4.18734,5.245682 l 1.47019,10.2557 -0.39119,3.302631 -12.00753,18.96423 h -6.61458 v 28.584817 c 4.49213,0.42185 10.65089,3.49351 14.89935,3.52433 h 27.47274 c 2.90384,0 5.24154,-2.47084 5.24154,-5.53971 0,-2.05074 -1.04687,-3.82963 -2.60605,-4.78729 h 3.31298 c 2.90384,0 5.24103,-2.47087 5.24103,-5.53974 0,-2.05071 -1.04636,-3.83009 -2.60553,-4.78782 h 0.85731 c 2.90384,0 5.24206,-2.47031 5.24206,-5.53919 0,-2.827124 -1.98485,-5.144857 -4.56768,-5.492707 1.60025,-0.9462 2.67891,-2.75116 2.67891,-4.8343 0,-3.06888 -2.3377,-5.53972 -5.24155,-5.53974 h -19.94296 c 0,0 2.27336,-8.74374 1.5875,-13.082908 -2.40958,-6.958912 -2.31019,-14.733985 -9.8392,-14.733985 z"
                        style="opacity:1;vector-effect:none;fill:none;fill-opacity:1;stroke:#6494b3;stroke-width:1.58749998;stroke-linecap:round;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1"
                      ></path>
                    </g>
                  </svg>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
