---

---

<section class="bg-trancperent w-full pb-1 pt-1 md:pb-14 md:pt-10">
  <div
    class="mx-auto box-border flex max-w-7xl flex-col content-center items-center border-0 border-solid border-gray-300 px-8 leading-6 text-black md:flex-row lg:px-16"
  >
    <!-- Image -->
    <div
      class="animate-wiggle animate-reverse animate-infinite animate-duration-[7500ms] animate-ease-linear relative -ml-5 mb-4 mt-5 box-border w-full max-w-md border-solid bg-contain bg-no-repeat px-4 text-center md:ml-0 md:mt-0 md:w-1/2 md:max-w-none lg:mb-0 xl:pl-10"
    >
      <div class="wrap">
        <div class="circle">
          <img
            src="https://images.unsplash.com/photo-1547542928-dd9bc5371279?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjE0NTg5fQ"
            alt=""
          />
        </div>
      </div>
    </div>

    <!-- Content -->
    <div
      class="order-first box-border w-full border-solid text-brand-500 md:order-none md:w-1/2 md:pl-10"
    >
      <h2 class="text-color body-large m-0 md:text-2xl lg:text-3xl">
        Boost Productivity
      </h2>
      <p class="body m-0 pb-8 pt-4 sm:pr-12 lg:text-lg xl:pr-32">
        Build an atmosphere that creates productivity in your organization and
        your company culture.
      </p>
      <ul
        class="dark:border-yellows-600 m-0 border-0 border-brand-500 p-0 leading-6"
      >
        <li class="body relative box-border border-solid py-1 pl-0 text-left">
          <span
            class="bg-yellow mr-2 inline-flex h-6 w-6 items-center justify-center rounded-full text-white"
            data-primary="yellow-400"
            ><span class="body font-bold">✓</span></span
          > Maximize productivity and growth
        </li>
        <li class="body relative box-border border-solid py-1 pl-0 text-left">
          <span
            class="bg-yellow mr-2 inline-flex h-6 w-6 items-center justify-center rounded-full text-white"
            data-primary="yellow-400"
            ><span class="body font-bold">✓</span></span
          > Speed past your competition
        </li>
        <li class="body relative box-border border-solid py-1 pl-0 text-left">
          <span
            class="bg-yellow mr-2 inline-flex h-6 w-6 items-center justify-center rounded-full text-white"
            data-primary="yellow-400"
            ><span class="body font-bold">✓</span></span
          > Learn the top techniques
        </li>
      </ul>
    </div>
    <!-- End  Content -->
  </div>
  <div
    class="mx-auto mt-2 box-border flex max-w-7xl flex-col content-center items-center border-0 border-solid border-gray-300 px-8 leading-6 text-black md:mt-20 md:flex-row lg:px-16 xl:mt-0"
  >
    <!-- Content -->
    <div
      class="box-border w-full border-solid text-brand-500 md:w-1/2 md:pl-6 xl:pl-32"
    >
      <h2 class="text-color body-large m-0 md:text-2xl lg:text-3xl">
        Automated Tasks
      </h2>
      <p class="body m-0 pb-8 pt-4 sm:pr-10 lg:text-lg">
        Save time and money with our revolutionary services. We are the leaders
        in the industry.
      </p>
      <ul class="m-0 border-0 border-brand-500 p-0 leading-6">
        <li class="body relative box-border border-solid py-1 pl-0 text-left">
          <span
            class="bg-yellows-600 mr-2 inline-flex h-6 w-6 items-center justify-center rounded-full text-white"
            data-primary="yellow-400"
            ><span class="body font-bold">✓</span></span
          > Automated task management workflow
        </li>
        <li class="body relative box-border border-solid py-1 pl-0 text-left">
          <span
            class="bg-yellows-600 mr-2 inline-flex h-6 w-6 items-center justify-center rounded-full text-white"
            data-primary="yellow-400"
            ><span class="body font-bold">✓</span></span
          > Detailed analytics for your data
        </li>
        <li class="body relative box-border border-solid py-1 pl-0 text-left">
          <span
            class="bg-yellows-600 mr-2 inline-flex h-6 w-6 items-center justify-center rounded-full text-white"
            data-primary="yellow-400"
            ><span class="body font-bold">✓</span></span
          > Some awesome integrations
        </li>
      </ul>
    </div>
    <!-- End  Content -->

    <!-- Image -->
    <div
      class="animate-wiggle animate-reverse animate-infinite animate-duration-[7500ms] animate-ease-linear relative -ml-5 mb-4 mt-5 box-border w-full max-w-md border-solid bg-contain bg-no-repeat px-4 text-center md:ml-0 md:mt-0 md:w-1/2 md:max-w-none lg:mb-0 xl:pl-10"
    >
      <div class="wrap">
        <div class="circle">
          <img
            src="https://images.unsplash.com/photo-1547542928-dd9bc5371279?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjE0NTg5fQ"
            alt=""
          />
        </div>
      </div>
    </div>
  </div>
</section>

<style>
  .wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }

  .circle {
    background: plum;
    width: 350px;
    height: 350px;
    border-radius: 40% 60% 70% 30% / 40% 50% 60% 50%;
    overflow: hidden;
    animation: morph 3s linear infinite;
  }

  .circle img {
    width: 100%;
  }

  @keyframes morph {
    0%,
    100% {
      border-radius: 40% 60% 70% 30% / 40% 40% 60% 50%;
    }
    34% {
      border-radius: 70% 30% 50% 50% / 30% 30% 70% 70%;
    }
    67% {
      border-radius: 100% 60% 60% 100% / 100% 100% 60% 60%;
    }
  }
</style>
