---

---

<div class="relative mx-auto mt-20 max-w-5xl">
  <div
    class="absolute -inset-0.5 -z-10 animate-pulse rounded-xl bg-gradient-to-r from-[#44BCFF] via-[#FF44EC] to-[#FF675E] blur-xl group-hover:inset-10 group-hover:opacity-100"
  >
  </div>
  <div
    class="rounded-xl p-1"
    style="background-image: linear-gradient(to right bottom, rgb(79, 70, 229) 0%, rgb(165, 56, 164) 50%, rgb(220, 38, 38) 100%);"
  >
    <div class="rounded-lg bg-black/80 backdrop-blur">
      <div
        class="flex w-full flex-wrap items-center justify-between gap-4 px-8 py-10 sm:px-16 lg:flex-nowrap"
      >
        <div class="lg:max-w-xl">
          <h2
            class="block w-full bg-gradient-to-b from-white to-gray-400 bg-clip-text pb-2 text-3xl font-bold text-transparent sm:text-4xl"
          >
            Enhancing Productivity with Artificial Intelligence
          </h2>
          <p
            class="my-4 bg-transparent font-medium leading-relaxed tracking-wide text-gray-400"
          >
            Natural Language Processing (NLP): The SmartAI Assistant understands
            and interprets natural language commands, allowing users to
            communicate with it effortlessly.
          </p>
        </div>
        <div class="flex flex-wrap items-center justify-center gap-6">
          <button
            class="button-text flex items-center justify-center whitespace-nowrap rounded-md bg-violet-600 px-8 py-3 text-xs text-white transition-all duration-300 sm:text-sm"
            >Get Started</button
          >
          <button
            class="flex items-center justify-center whitespace-nowrap rounded-md border border-zinc-700 bg-zinc-900 px-8 py-3 text-center text-xs text-white backdrop-blur transition-all hover:bg-zinc-800 sm:text-sm"
            >Learn More</button
          >
        </div>
      </div>
    </div>
  </div>
</div>
