---

---

<section class="bg-trancperent py-10 sm:py-16 lg:py-24">
  <div class="mx-auto max-w-7xl px-4 sm:px-10 lg:px-12">
    <div class="mx-auto max-w-2xl text-center">
      <h2
        class="block w-full bg-gradient-to-b from-white to-gray-400 bg-clip-text text-3xl font-bold text-transparent sm:text-4xl"
      >
        Latest from blog
      </h2>
      <p class="mx-auto mt-4 max-w-xl text-base leading-relaxed text-gray-600">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis.
      </p>
    </div>

    <div
      class="mx-auto mt-12 grid max-w-md grid-cols-1 gap-x-16 gap-y-12 lg:mt-16 lg:max-w-full lg:grid-cols-3"
    >
      <div>
        <a href="#" title="" class="aspect-h-3 aspect-w-4 block">
          <img
            class="h-full w-full object-cover"
            src="https://cdn.rareblocks.xyz/collection/celebration/images/blog/1/blog-post-1.jpg"
            alt=""
          />
        </a>
        <span
          class="mt-9 inline-flex rounded-full bg-rose-100 px-4 py-2 text-xs font-semibold uppercase tracking-widest text-rose-500"
        >
          Technology
        </span>
        <p class="mt-6 text-xl font-semibold">
          <a href="#" title="" class="text-black">
            How to mange your remote team?
          </a>
        </p>
        <p class="mt-4 text-gray-600">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit.
        </p>
        <div class="mb-4 mt-6 h-0 border-t-2 border-dashed border-gray-200">
        </div>
        <span
          class="block text-sm font-bold uppercase tracking-widest text-gray-500"
        >
          Martin Jones . June 12, 2021
        </span>
      </div>

      <div>
        <a href="#" title="" class="aspect-h-3 aspect-w-4 block">
          <img
            class="h-full w-full object-cover"
            src="https://cdn.rareblocks.xyz/collection/celebration/images/blog/1/blog-post-2.jpg"
            alt=""
          />
        </a>
        <span
          class="mt-9 inline-flex rounded-full bg-sky-100 px-4 py-2 text-xs font-semibold uppercase tracking-widest text-sky-500"
        >
          Marketing
        </span>
        <p class="mt-6 text-xl font-semibold">
          <a href="#" title="" class="text-black">
            6 Product launching emails you want to use on next campaign.
          </a>
        </p>
        <p class="mt-4 text-gray-600">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit.
        </p>
        <div class="mb-4 mt-6 h-0 border-t-2 border-dashed border-gray-200">
        </div>
        <span
          class="block text-sm font-bold uppercase tracking-widest text-gray-500"
        >
          Martin Jones . June 12, 2021
        </span>
      </div>

      <div>
        <a href="#" title="" class="aspect-h-3 aspect-w-4 block">
          <img
            class="h-full w-full object-cover"
            src="https://cdn.rareblocks.xyz/collection/celebration/images/blog/1/blog-post-3.jpg"
            alt=""
          />
        </a>
        <span
          class="mt-9 inline-flex rounded-full bg-sky-100 px-4 py-2 text-xs font-semibold uppercase tracking-widest text-sky-500"
        >
          Marketing
        </span>
        <p class="mt-6 text-xl font-semibold">
          <a href="#" title="" class="text-black">
            Learn from the best: 7 email marketing ideas you can use
          </a>
        </p>
        <p class="mt-4 text-gray-600">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit.
        </p>
        <div class="mb-4 mt-6 h-0 border-t-2 border-dashed border-gray-200">
        </div>
        <span
          class="block text-sm font-bold uppercase tracking-widest text-gray-500"
        >
          Martin Jones . June 12, 2021
        </span>
      </div>
    </div>
  </div>
</section>
