---

---

<section class="bg-trancperent py-10 sm:py-16 lg:py-24">
  <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
    <div
      class="grid grid-cols-1 gap-y-8 text-center sm:grid-cols-2 sm:gap-12 lg:grid-cols-4"
    >
      <div>
        <div class="mx-auto flex items-center justify-center">
          <div
            class="animate-wiggle animate-reverse animate-infinite animate-duration-[7500ms] animate-ease-linear"
          >
            <div class="wrap">
              <div class="circle">
                <img
                  src="https://images.unsplash.com/photo-1547542928-dd9bc5371279?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjE0NTg5fQ"
                  alt=""
                />
              </div>
            </div>
          </div>
        </div>
        <h3 class="body-large mt-8 font-semibold">Secured Payments</h3>
        <p class="body mt-4">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit.
        </p>
      </div>

      <div>
        <div class="flex items-center justify-center">
          <div
            class="animate-wiggle animate-delay-[4ms] animate-reverse animate-infinite animate-duration-[7500ms] animate-ease-linear"
          >
            <div class="wrap">
              <div class="circle">
                <img
                  src="https://images.unsplash.com/photo-1547542928-dd9bc5371279?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjE0NTg5fQ"
                  alt=""
                />
              </div>
            </div>
          </div>
        </div>
        <h3 class="body-large mt-8 font-semibold">Fast & Easy to Load</h3>
        <p class="body mt-4">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit.
        </p>
      </div>

      <div>
        <div class="flex items-center justify-center">
          <div
            class="animate-wiggle animate-delay-[6ms] animate-reverse animate-infinite animate-duration-[7500ms] animate-ease-linear"
          >
            <div class="wrap">
              <div class="circle">
                <img
                  src="https://images.unsplash.com/photo-1547542928-dd9bc5371279?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjE0NTg5fQ"
                  alt=""
                />
              </div>
            </div>
          </div>
        </div>
        <h3 class="body-large mt-8 font-semibold">Light & Dark Version</h3>
        <p class="body mt-4">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit.
        </p>
      </div>

      <div>
        <div class="flex items-center justify-center">
          <div
            class="animate-wiggle animate-delay-[8ms] animate-reverse animate-infinite animate-duration-[7500ms] animate-ease-linear"
          >
            <div class="wrap">
              <div class="circle">
                <img src="../../assets/images/4500_9_10.webp" alt="" />
              </div>
            </div>
          </div>
        </div>
        <h3 class="body-large mt-8 font-semibold">Filter Blocks</h3>
        <p class="body mt-4">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit.
        </p>
      </div>
    </div>
  </div>
</section>

<style>
  .wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35vh;
  }

  .circle {
    background: plum;
    width: 250px;
    height: 250px;
    border-radius: 40% 60% 70% 30% / 40% 50% 60% 50%;
    overflow: hidden;
    animation: morph 3s linear infinite;
  }

  .circle img {
    width: 100%;
  }

  @keyframes morph {
    0%,
    100% {
      border-radius: 40% 60% 70% 30% / 40% 40% 60% 50%;
    }
    34% {
      border-radius: 70% 30% 50% 50% / 30% 30% 70% 70%;
    }
    67% {
      border-radius: 100% 60% 60% 100% / 100% 100% 60% 60%;
    }
  }
</style>
